body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
section {
  display: flex;
  height: 500px;
  padding-right: 10%;
  margin-bottom: 150px;
}
h1 {
  font-size: 50px;
  color: #575757;
}

.hero-text {
  margin: 10px auto;
}

#top-banner-p {
  font-size: 25px;
  color: #828282;
}


.half-width{
  width:40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width p {
  margin: 5px 15px;
  border-bottom: 10px;
  font-size: 15px;
  padding-right: 20%;
}

.half-width img {
  width: 80%;
}
h1 span {
  color: #fba24f;
}

.anchor-btn {
  text-decoration: none;
  background: linear-gradient(45deg, #fba24f, #ff1e1e);
  padding: 15px 50px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}

.about-me-area {
  background-image: url("images/about-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
}

#about-me-h1 {
  font-size: 35px;
  margin: 10px auto;
}



#about-img {
  width: 45%;
}
#about-me-text {
  padding-top: 15 0px;
}

.recipie-text {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.recipie-text h1 {
  text-align: center;
}


.recipie-text p{
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 2%;
  text-align: center;
}

#recipie-list {
  display: flex;
  margin: 2px;
  padding: 5%;
}

.recipie-tiles {
  border: 15px;
  border-style: solid;
  border-color:white;
  border-radius: 50px;
  padding: 10px;
  width: 35%;
  height: 130%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.recipie-tiles img {
width: 100%;
}
.recipie-tiles p{
  width: 60%;
  margin-right:auto;
  }

#social-stats {
  width: 70%;
  display: flex;
  height: 200px;
  align-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 25px;
  margin-bottom: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

.stats {
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: auto;
}

.stats h1 {
  margin-bottom: 5%;
}

footer {
  margin-top: 50px;
  width: 90%;
  padding: 20px 0 40px 20px;
  background-color: #fba24f;
  height: auto;
}



footer ul {
  text-align: center;
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 2px;
  padding: 5px;
}

footer ul li {
  display: inline-block;
}

footer .social {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

footer .twitter {
  background-image: url(images/twitter.svg);
}
footer .linkedin {
  background-image: url(images/linkedin.svg);
}
footer .github {
  background-image: url(images/github.svg);
}
footer p {
  font-size: 15px;
  font-weight: 500;
  color: black;
  text-align: center;
}