/* * {
  box-sizing: border-box;
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #575757;
  background: #f7f5f0;
}

.main-nav {
  width: 100%;
  min-height: 30px;
  margin-bottom: 25px;
  padding: 10px;
  position: fixed;
  text-align: center;
  color: #fba24f;
}

.nav {
  max-width: 1570px;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 2px;
}

.nav .name {
  display: block;
  margin-left: 5%;
  margin-right: auto;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.top-banner {
  height: 500px;
  padding-top: 100px;
  padding-bottom: 150px;
}

.hero-text {
  font-size: 50px;
  margin: 10px auto;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half-width p {
  margin: 5px;
  border-bottom: 10px;
}

h1 span {
  color: #fba24f;
}

.anchor-btn {
  text-decoration: none;
  background: linear-gradient(45deg, #fba24f, #ff1e1e);
  padding: 15px 50px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}
